/* inizio debug */
.debug .my_row_menu {
    height: 50px;
}
.debug .my_row_banner {
    height: 400px;
}
.debug .my_row_portfolio {
    height: 500px;
}
.debug .my_row_about {
    height: 300px;
}
.debug .my_row_contact {
    height: 300px;
}
.debug .my_row_address {
    height: 100px;
}
.debug .my_row_credit {
    height: 50px;
}

/* fine debug */