/* common */
body {
    color: white;
}
.gray {
    background-color: rgb(41, 62, 81);
}
.green {
    background-color: rgb(0, 197, 158);
}
.avio {
    background-color: rgb(54, 83, 110);
}
.white {
    color: white;
}
.text_center {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* /common */
/* sezione menu  */
#my_nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    z-index: 999;
}
/* / sezione menu */
/* sezione banner  */
.my_ban_img img {
    width: 100%;
}
.my_ban_titolo h1 {
    text-shadow: no-wrap;
}
.riga {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}
.riga i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgb(0, 197, 158);
}
.riga_bk {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}
.riga_bk i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
}

/* fine sezione banner  */
/* sezione portfolio  */
.my_portfolio {
    color: black;
}
.my_portfolio img {
    width: 100%;
    border-radius: 10px;
}
/* fine sezione portfolio  */
/* sezione about  */
/* fine sezione about  */
/* sezione contact  */
.my_contact {
    color: black;
}
.my_input {
    border: none;
}
.my_btn-contact {
    background-color: rgb(0, 197, 158);
    color: white;
}
.my_col_container {
    padding: 0;
}

/* fine sezione contact  */
/* sezione footer  */
.my_container_address {
    padding: 0;
}
.circol {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 3px;
}
.circol i {
    text-align: center;
    line-height: 40px;
}
#my_color_green {
    color: rgb(0, 197, 158);
}
.my_credit p {
    font-size: 12px;
}
/* fine sezione footer  */








/* inizio debug */
.debug .my_row_menu {
    height: 50px;
}
.debug .my_row_banner {
    height: 100%;
}
.debug .my_row_portfolio {
    /* height: 100px; */
}
.debug .my_row_about {
    height: 100%;
}
.debug .my_row_contact {
    height: 100%;
}
.debug .my_row_address {
    height: 100%;
}
.debug .my_row_credit {
    height: 50px;
}

/* fine debug */